h3 {
    margin: 0.5rem 0;
}

.whalf {
    width: 45%;
}

.wfull {
    width: 100%;
}

.w3 {
    width: 32%;
}

.flex {
    display: flex;
}

.fe {
    justify-content: flex-end;
}

.shrunk {
    align-self: start;
}

.fw {
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.sa {
    justify-content: space-around;
}

.sb {
    justify-content: space-between;
}

.se {
    justify-content: space-evenly;
}

.f1 {
    flex: 1;
}

.g1 {
    gap: 1rem;
}

.g1s {
    gap: 0 1%
}

.mb {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

button.active {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.relative {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.error_msg {
    display: none;
}

.error_msg:has(+ input:user-invalid) {
    display: block;
    color: red;
}

li {
    padding: 0.25rem 0.5rem;
}

li:hover {
    cursor: pointer;
}